<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="manufacturer_grid_data_source" xsi:type="string">Powerbody\Manufacturer\Model\ResourceModel\Manufacturer\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Powerbody\Manufacturer\Service\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">powerbody/manufacturer</argument>
            <argument name="basePath" xsi:type="string">powerbody/manufacturer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Powerbody\Manufacturer\Model\ResourceModel\Manufacturer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">manufacturer</argument>
            <argument name="resourceModel" xsi:type="string">Powerbody\Manufacturer\Model\ResourceModel\Manufacturer</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="manufacturer_listing_data_source" xsi:type="string">Powerbody\Manufacturer\Model\ResourceModel\Manufacturer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Powerbody\Manufacturer\Model\ResourceModel\ManufacturerRepositoryInterface" type="Powerbody\Manufacturer\Model\ResourceModel\ManufacturerRepository"/>
    <preference for="Powerbody\Manufacturer\Entity\ManufacturerRepositoryInterface" type="Powerbody\Manufacturer\Entity\ManufacturerRepository"/>
    <preference for="Powerbody\Manufacturer\Service\Manufacturer\ProductServiceInterface" type="Powerbody\Manufacturer\Service\Manufacturer\ProductService"/>
    <preference for="Powerbody\Manufacturer\Service\Manufacturer\MarginServiceInterface" type="Powerbody\Manufacturer\Service\Manufacturer\MarginService"/>
    <preference for="Powerbody\Manufacturer\Provider\Manufacturer\ProductsProviderInterface" type="Powerbody\Manufacturer\Provider\Manufacturer\ProductsProvider"/>
    <preference for="Powerbody\Manufacturer\Service\ConfigurationReaderInterface" type="Powerbody\Manufacturer\Service\ConfigurationReader"/>
</config>
